# Archivos de configuración con claves API
config.py

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
.env

# Notebooks checkpoints
.ipynb_checkpoints/

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
env/
ENV/